@charset "UTF-8";

@media (min-width: 768px) and (max-width: 992px) {


      section#login{
        width: 90vw;
        height: 45%;
  }

    body, html{
        background-image: linear-gradient(to top, #49a09d, #5f2c82);

    }

    div#imagem{
        float: left;
        width: 35%;
        height: 100%;
    }

    div#formulario{
        float: right;
        width: 65%;
        height: 100%;
    }

    input#botao{
        width: 92%;}
}


@media (min-width: 922px) {
    /*Pc e TV*/

    section#login{
        width: 80vw;
        height: 50%;
  }

    body, html{
        background-image: linear-gradient(to top, #49a09d, #5f2c82);

}

    div#imagem{
        float: right;
        width: 45%;
        height: 100%;
    }

    div#formulario{
        float: left;
        width: 55%;
        height: 100%;
    }

    input#botao{
        width: 90%;}
    
}